{% extends 'base.html.twig' %}

{% block title %}New Product1{% endblock %}

{% block body %}
    <h1>Create new Product1</h1>

    {{ include('product1/_form.html.twig') }}

    <a href="{{ path('app_product1_index') }}">back to list</a>
{% endblock %}
